<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "/javascripts/jquery.js" %> <!--HACK--> 
    <%= javascript_include_tag "/javascripts/jquery-ui.js" %> <!--HACK-->
    <%= javascript_include_tag "/javascripts/jrails.js" %> <!--HACK-->
    <%= javascript_include_tag "/javascripts/application.js" %> <!--HACK-->
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
		<div id="logo">
			<%= image_tag("logo.png", :alt => "Flitter") %>
		</div>
		<div id="top_links_container">
			<% if current_user %>
				logged in as <%= current_user.username %> | 
				<%= link_to "logout", logout_path %>
			<% else %>
				<%= link_to "login", login_path %>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
	<div id="container">
		<div id="main">
      		<% flash.each do |name, msg| %>
        		<%= content_tag :div, msg, :id => "flash_#{name}" %>
      		<% end %>
     		<%= content_tag :h1, yield(:title) if show_title? %>
      		<%= yield %>
		</div>
		<div id="side">
			<% if current_user %>
				<%= render :partial => "/includes/side_contents" %>	
			<% end %>
		</div>
		<div class="clear"></div>
    </div>
  </body>
</html>
